

<% include partials/header_comments %>

<div class="showcontainer">
  

        <div class="imagecard">
            <img src = <%=blog.image %> >   
        </div>
    <div>    
        <div class="huge header showtitle"> 
            <%= blog.title %> 
        </div> 
        <hr>
        <div class="datestr">
            <span > POSTED ON <span style="color:brown;text-decoration: underline;"><%= blog.created.toDateString() %> </span>  </span>                        
        </div>
        <div class="blogtext">
           <p> <%= blog.body %>  </p>
        </div>
 
        <div class="allbuttons">
            <a class="ui medium green basic button" href="/blogs/<%= blog._id %>/edit"> <i class="large edit icon"></i> EDIT </a>          
        
            <form id="deletebutton" style="display:inline" class="ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method = "POST">   
                <button class=" ui large red basic button ">X  &nbsp &nbsp DELETE </button>  
            </form>
        </div>
    </div>    
</div> 
 


                                                                                            